P "CDS_LMAN_SYM_OUTLINE" "-125,400,375,-400" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 399 -125 -400 -1 0
L -125 400 375 400 -1 0
L 375 400 375 -400 -1 0
L -125 -399 375 -399 -1 0
T 83 441 0 0 32 0 0 1 0 20 0
rj45_dual_jgl_0001nl
A 0 345 10 180 360 0
A 20 345 10 180 360 0
A 40 345 10 180 360 0
A 60 345 10 180 360 0
A 0 325 10 180 360 0
A 20 325 10 180 360 0
A 40 325 10 180 360 0
A 60 325 10 180 360 0
A 0 300 10 180 360 0
A 20 300 10 180 360 0
A 40 300 10 180 360 0
A 60 300 10 180 360 0
L -125 320 -10 320 -1 0
L -10 345 -10 375 -1 0
L -125 270 -10 270 -1 0
L -10 270 -10 300 -1 0
L -5 285 65 285 -1 0
L -5 280 65 280 -1 0
L 70 345 70 376 -1 0
L 70 376 106 376 -1 0
L 70 325 105 325 -1 0
L 70 301 70 270 -1 0
L 70 270 106 270 -1 0
L -125 375 -10 375 -1 0
L -125 225 -10 225 -1 0
L -10 195 -10 225 -1 0
A 0 195 10 180 360 0
A 20 195 10 180 360 0
A 40 195 10 180 360 0
A 60 195 10 180 360 0
L 70 195 70 229 -1 0
L 70 228 105 228 -1 0
L -125 75 -10 75 -1 0
L -10 45 -10 75 -1 0
A 0 45 10 180 360 0
A 20 45 10 180 360 0
A 40 45 10 180 360 0
A 60 45 10 180 360 0
L 70 45 70 79 -1 0
L 70 78 105 78 -1 0
L -125 -75 -10 -75 -1 0
L -10 -105 -10 -75 -1 0
A 0 -105 10 180 360 0
A 20 -105 10 180 360 0
A 40 -105 10 180 360 0
A 60 -105 10 180 360 0
L 70 -105 70 -71 -1 0
L 70 -72 105 -72 -1 0
L -125 175 -10 175 -1 0
A 0 175 10 180 360 0
A 20 175 10 180 360 0
A 40 175 10 180 360 0
A 60 175 10 180 360 0
L 70 175 105 175 -1 0
L -125 125 -10 125 -1 0
L -10 125 -10 155 -1 0
A 20 155 10 180 360 0
A 0 155 10 180 360 0
A 40 155 10 180 360 0
A 60 155 10 180 360 0
L 70 155 70 125 -1 0
L 70 125 105 125 -1 0
L -5 135 65 135 -1 0
L -5 140 65 140 -1 0
L -125 25 -10 25 -1 0
A 0 25 10 180 360 0
A 20 25 10 180 360 0
A 40 25 10 180 360 0
A 60 25 10 180 360 0
L 70 25 105 25 -1 0
L -125 -25 -10 -25 -1 0
L -10 -25 -10 5 -1 0
A 20 5 10 180 360 0
A 0 5 10 180 360 0
A 40 5 10 180 360 0
A 60 5 10 180 360 0
L 70 5 70 -25 -1 0
L 70 -25 105 -25 -1 0
L -5 -15 65 -15 -1 0
L -5 -10 65 -10 -1 0
L -125 -125 -10 -125 -1 0
A 0 -125 10 180 360 0
A 20 -125 10 180 360 0
A 40 -125 10 180 360 0
A 60 -125 10 180 360 0
L 70 -125 105 -125 -1 0
L -125 -175 -10 -175 -1 0
L -10 -175 -10 -145 -1 0
A 20 -145 10 180 360 0
A 0 -145 10 180 360 0
A 40 -145 10 180 360 0
A 60 -145 10 180 360 0
L 70 -145 70 -175 -1 0
L 70 -175 105 -175 -1 0
L -5 -165 65 -165 -1 0
L -5 -160 65 -160 -1 0
A 0 325 5 0 360 0
A 0 350 5 0 360 0
A 0 303 5 0 360 0
A 0 195 5 0 360 0
A 0 175 5 0 360 0
A 0 155 5 0 360 0
A 0 45 5 0 360 0
A 0 25 5 0 360 0
A 0 5 5 0 360 0
A 0 -105 5 0 360 0
A 0 -125 5 0 360 0
A 0 -145 5 0 360 0
L 120 370 120 285 -1 0
L 125 370 125 285 -1 0
A 107 363 8 256 464 0
A 107 348 8 256 464 0
A 107 333 8 256 464 0
A 107 317 8 256 464 0
A 107 302 8 256 464 0
A 107 287 8 256 464 0
A 137 362 8 76 286 0
A 137 347 8 76 286 0
A 137 332 8 76 286 0
A 137 317 8 76 286 0
A 137 302 8 76 286 0
A 137 287 8 76 286 0
A 106 363 4 0 360 0
A 138 363 4 0 360 0
L 106 280 106 274 -1 0
L 106 370 106 376 -1 0
L 139 370 379 370 -1 0
L 139 280 373 280 -1 0
L 373 280 379 280 -1 0
L 120 222 120 137 -1 0
L 125 222 125 137 -1 0
A 107 215 8 256 464 0
A 107 200 8 256 464 0
A 107 185 8 256 464 0
A 107 169 8 256 464 0
A 107 154 8 256 464 0
A 107 139 8 256 464 0
A 137 214 8 76 286 0
A 137 199 8 76 286 0
A 137 184 8 76 286 0
A 137 169 8 76 286 0
A 137 154 8 76 286 0
A 137 139 8 76 286 0
A 106 215 4 0 360 0
A 138 215 4 0 360 0
L 106 132 106 126 -1 0
L 106 222 106 228 -1 0
L 139 222 379 222 -1 0
L 139 132 373 132 -1 0
L 373 132 379 132 -1 0
L 120 72 120 -13 -1 0
L 125 72 125 -13 -1 0
A 107 65 8 256 464 0
A 107 50 8 256 464 0
A 107 35 8 256 464 0
A 107 19 8 256 464 0
A 107 4 8 256 464 0
A 107 -11 8 256 464 0
A 137 64 8 76 286 0
A 137 49 8 76 286 0
A 137 34 8 76 286 0
A 137 19 8 76 286 0
A 137 4 8 76 286 0
A 137 -10 7 74 284 0
A 106 65 4 0 360 0
A 138 65 4 0 360 0
L 106 -18 106 -24 -1 0
L 106 72 106 78 -1 0
L 139 72 379 72 -1 0
L 139 -18 373 -18 -1 0
L 373 -18 379 -18 -1 0
L 120 -78 120 -163 -1 0
L 125 -78 125 -163 -1 0
A 107 -85 8 256 464 0
A 107 -100 8 256 464 0
A 107 -115 8 256 464 0
A 107 -131 8 256 464 0
A 107 -146 8 256 464 0
A 107 -161 8 256 464 0
A 137 -85 7 74 284 0
A 137 -100 7 74 284 0
A 137 -115 7 74 284 0
A 137 -130 7 74 284 0
A 137 -145 7 74 284 0
A 137 -160 7 74 284 0
A 106 -85 4 0 360 0
A 138 -85 4 0 360 0
L 106 -168 106 -174 -1 0
L 106 -78 106 -72 -1 0
L 139 -78 379 -78 -1 0
L 139 -168 373 -168 -1 0
L 373 -168 379 -168 -1 0
L 160 316 220 316 -1 0
L 220 316 220 334 -1 0
L 220 334 160 334 -1 0
L 160 316 160 334 -1 0
L 139 325 160 325 -1 0
T 190 316 0 0 23 0 0 1 0 2 0
75
L 138 177 159 177 -1 0
L 159 168 219 168 -1 0
L 219 168 219 186 -1 0
L 219 186 159 186 -1 0
L 159 168 159 186 -1 0
T 189 168 0 0 23 0 0 1 0 2 0
75
L 138 27 159 27 -1 0
L 159 18 219 18 -1 0
L 219 18 219 36 -1 0
L 219 36 159 36 -1 0
L 159 18 159 36 -1 0
T 189 18 0 0 23 0 0 1 0 2 0
75
L 138 -123 159 -123 -1 0
L 159 -132 219 -132 -1 0
L 219 -132 219 -114 -1 0
L 219 -114 159 -114 -1 0
L 159 -132 159 -114 -1 0
T 189 -132 0 0 23 0 0 1 0 2 0
75
L 220 325 259 325 -1 0
L 259 325 259 -206 -1 0
L 220 178 259 178 -1 0
L 220 28 259 28 -1 0
L 220 -122 259 -122 -1 0
L 259 -206 190 -206 -1 0
L 190 -188 190 -227 -1 0
L 184 -188 184 -227 -1 0
L 184 -206 142 -206 -1 0
L 142 -206 142 -221 -1 0
L 133 -221 151 -221 -1 0
L 151 -221 145 -230 -1 0
L 142 -221 136 -230 -1 0
L 133 -221 127 -230 -1 0
T 98 -218 0 0 23 0 0 1 0 6 0
SHIELD
T 225 -227 0 0 23 0 0 1 0 5 0
100pF
T 337 372 0 0 23 0 0 1 0 4 0
MX1+
T 339 283 0 0 23 0 0 1 0 4 0
MX1-
T 339 225 0 0 23 0 0 1 0 4 0
MX2+
T 339 135 0 0 23 0 0 1 0 4 0
MX2-
T 340 75 0 0 23 0 0 1 0 4 0
MX3+
T 339 -14 0 0 23 0 0 1 0 4 0
MX3-
T 342 -74 0 0 23 0 0 1 0 4 0
MX4+
T 342 -164 0 0 23 0 0 1 0 4 0
MX4-
A 106 316 4 0 360 0
A 136 316 4 0 360 0
A 106 169 4 0 360 0
A 136 169 4 0 360 0
A 106 19 4 0 360 0
A 136 19 4 0 360 0
A 106 -131 4 0 360 0
A 139 -131 4 0 360 0
L -125 -272 28 -272 -1 0
L 28 -296 28 -248 -1 0
L 28 -248 67 -272 -1 0
L 67 -272 28 -296 -1 0
L 67 -248 67 -296 -1 0
L 67 -272 376 -272 -1 0
L 19 -251 4 -236 -1 0
L 4 -236 4 -242 -1 0
L 4 -236 10 -236 -1 0
L 27 -243 12 -228 -1 0
L 12 -228 12 -234 -1 0
L 12 -228 18 -228 -1 0
L -120 -370 33 -370 -1 0
L 24 -349 9 -334 -1 0
L 9 -339 9 -345 -1 0
L 9 -334 15 -334 -1 0
L 32 -341 17 -326 -1 0
L 17 -326 17 -332 -1 0
L 17 -331 23 -331 -1 0
L 33 -394 33 -346 -1 0
L 33 -346 72 -370 -1 0
L 72 -370 33 -394 -1 0
L 72 -346 72 -394 -1 0
L 72 -370 381 -370 -1 0
L -170 375 -120 375 -1 0
C -170 375 "+MD1_" -188 372 0 1 32 0 R
X "PIN_TEXT" "+MD1_" -110 375 0 0 24 0 0 0 0 0 1 0 0
L -170 270 -120 270 -1 0
C -170 270 "-MD1_" -195 270 0 1 32 0 R
X "PIN_TEXT" "-MD1_" -115 275 0 0 24 0 0 0 0 0 1 0 0
L -170 320 -120 320 -1 0
C -170 320 "MDCT1_" -195 320 0 1 32 0 R
X "PIN_TEXT" "MDCT1_" -115 325 0 0 24 0 0 0 0 0 1 0 0
L -170 225 -120 225 -1 0
C -170 225 "+MD2_" -195 225 0 1 32 0 R
X "PIN_TEXT" "+MD2_" -115 227 0 0 24 0 0 0 0 0 1 0 0
L -170 120 -120 120 -1 0
C -170 120 "-MD2_" -195 120 0 1 32 0 R
X "PIN_TEXT" "-MD2_" -115 125 0 0 24 0 0 0 0 0 1 0 0
L -170 170 -120 170 -1 0
C -170 170 "MDCT2_" -195 170 0 1 32 0 R
X "PIN_TEXT" "MDCT2_" -115 175 0 0 24 0 0 0 0 0 1 0 0
L -170 75 -120 75 -1 0
C -170 75 "+MD3_" -195 75 0 1 32 0 R
X "PIN_TEXT" "+MD3_" -115 80 0 0 24 0 0 0 0 0 1 0 0
L -170 -20 -120 -20 -1 0
C -170 -20 "-MD3_" -195 -20 0 1 32 0 R
X "PIN_TEXT" "-MD3_" -115 -15 0 0 24 0 0 0 0 0 1 0 0
L -170 20 -120 20 -1 0
C -170 20 "MDCT3_" -195 20 0 1 32 0 R
X "PIN_TEXT" "MDCT3_" -115 25 0 0 24 0 0 0 0 0 1 0 0
L -170 -75 -120 -75 -1 0
C -170 -75 "+MD4_" -195 -75 0 1 32 0 R
X "PIN_TEXT" "+MD4_" -115 -70 0 0 24 0 0 0 0 0 1 0 0
L -170 -170 -120 -170 -1 0
C -170 -170 "-MD4_" -195 -170 0 1 32 0 R
X "PIN_TEXT" "-MD4_" -115 -165 0 0 24 0 0 0 0 0 1 0 0
L -170 -120 -120 -120 -1 0
C -170 -120 "MDCT4_" -195 -120 0 1 32 0 R
X "PIN_TEXT" "MDCT4_" -115 -110 0 0 24 0 0 0 0 0 1 0 0
L 420 -270 370 -270 -1 0
C 420 -270 "-LED1_" 445 -270 0 1 32 0 L
X "PIN_TEXT" "-LED1_" 360 -270 0 0 24 0 0 2 0 0 1 0 0
L -170 -270 -120 -270 -1 0
C -170 -270 "+LED1_" -195 -270 0 1 32 0 R
X "PIN_TEXT" "+LED1_" -110 -270 0 0 24 0 0 0 0 0 1 0 0
L 425 -370 375 -370 -1 0
C 425 -370 "-LED2_" 450 -370 0 1 32 0 L
X "PIN_TEXT" "-LED2_" 365 -370 0 0 24 0 0 2 0 0 1 0 0
L -175 -370 -125 -370 -1 0
C -175 -370 "+LED2_" -200 -370 0 1 32 0 R
X "PIN_TEXT" "+LED2_" -115 -370 0 0 24 0 0 0 0 0 1 0 0


